.button {
    -fx-background-color: 
        black;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 6 15 6 15;
    -fx-text-fill: white;
    -fx-font-size: 14px;
	-fx-font-family: sans-serif;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(gaussian, #000000, 8, 0.0, 0, 0);
}
.button:hover {
	-fx-background-color:
		 #FF30FF;
	-fx-effect: dropshadow(gaussian, #000000, 10, 0.25, 0, 0);
}

.button:pressed {
	-fx-background-color:
		 #FF3CFF;
	-fx-effect: dropshadow(gaussian, #000000, 10, 0.25, 0, 0);
}