.slider {
	-fx-text-fill: white;
    -fx-font-size: 16px;
	-fx-font-family: sans-serif;
	-fx-font-smoothing-type: lcd;
	-fx-click-to-position: true;
	-fx-control-inner-background: #E2E4E0;
}

.slider .axis {
	-fx-tick-label-fill: white;
	/*-fx-tick-label-font-weight: bold;*/
	-fx-tick-label-font-family: sans-serif;
	-fx-tick-label-font-smoothing-type: lcd;
	-fx-tick-label-font-size: 16px;
}

.slider .track {
	-fx-text-fill: white;
    -fx-font-size: 16px;
	-fx-font-family: sans-serif;
	-fx-pref-height:10;
}

.slider .thumb {
	-fx-background-color: 
        #596E89;
	-fx-pref-height: 25;
	-fx-pref-width: 25;
}

.slider .thumb:hover {
	-fx-background-color:
		 #263C46;
	-fx-effect: dropshadow(gaussian, #000000, 10, 0.25, 0, 0);
}